<html lang="en">
<body>
<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <script>
    const year = new Date().getFullYear();
    document.write(`Copyright © ${year}`);
  </script>
    <!-- <footer>
        <p>Copyright &copy; <%= new Date().getFullYear() %>. All Rights Reserved.</p>
    </footer> -->
</footer>
</body>

</html>